@import url("style/footer.css");
@import url("style/main.css");
@import url("style/section.css");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100vw;
  min-width: 350px;
  max-width: 600px;
  border: 0px solid green;
  min-height: 100%;
}

div {
  border: 0px solid black;
}

