footer {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 10px;
  border: 0px solid black;
  flex: 0 0 auto;
}

.quick_button {
  border: 1px solid black;
  border-radius: 25px;
  padding: 15px 15px;
  max-width: 50px;
  transform: scale(0.9);
  margin: 10px 10px;
  height: 50px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.5;
  overflow: hidden;
  transition: all 0.4s ease;
  /*transition: max-width 2s ease-out, padding 0.5s ease-out, border-radius 2s ease-out;*/
}

.quick_button p{
  display: none;
  
}
.quick_button.active {
  opacity: 1;
  /*background-image: url(../src/concrete.jpg);*/
  background-color: #F4D03F ;
  transform: scale(1);
  border: none;
  max-width: 150px;
  border-radius: 25px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2), 0 1px 2px rgba(0, 0, 0, 0.3);
}
.quick_button.active p {
  display: inline;
  margin-left:10px;
}

.quick_button i {
  font-size: 36px;
  
}

.quick_button:hover:not(.active),
.quick_button:focus:not(.active) {
  cursor: pointer;
  /*background-color: rgb(250, 226, 8);*/
  max-width: 150px;
  transition: all 0.4s ease;
}
.quick_button:hover:not(.active) p,
.quick_button:focus:not(.active) p{
  display: inline;
  margin-left:10px;
  
}


.quick_button:active:not(.active) {
  border: 1px solid rgba(230, 211, 211, 0.7);
  opacity: 1;
  color:#F4D03F ;
  background-color: rgba(0, 0, 0, 0.7);
  max-width: 150px;
 
}
